argnorm==0.3.0
chardet==5.2.0
fastobo==0.12.3
iniconfig==2.0.0
networkx==3.3
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pluggy==1.5.0
pronto==2.5.7
pytest==8.2.0
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
tzdata==2024.1
